<head>
    <script type="text/javascript" src="jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="json2html.js"></script>
    <script type="text/javascript" src="jquery.json2html.js"></script>
</head>

<body>

<div id="matches"></div>

<script>
    (function() {
      var statsAPI = "https://arcane-lake-56548.herokuapp.com/matches" + $(location).attr('search');
      $.getJSON(statsAPI,{format: "json"}).done(function(data) {
           var headerTemplate = {
              "tag": "table",
              "class": "table table-striped table-hover",
              "children": [
                {
                  "tag": "thead",
                  "id": "json-head",
                  "children": [
                    {
                      "tag": "tr",
                      "children": [
                        {
                          "tag": "th",
                          "html": "Round"
                        },
                        {
                          "tag": "th",
                          "html": "Winner team Score"
                        },
                        {
                          "tag": "th",
                          "html": "Looser Team Score"
                        }
                      ]
                    }
                  ]
                }
              ]
           };
           var rowTemplate = {
                  "tag": "table",
                  "class": "table table-striped table-hover",
                  "children": [
                  {
                      "tag": "tbody",
                      "id": "json-body",
                      "children": [
                        {
                          "tag": "tr",
                          "children": [
                            {
                              "tag": "td width=100px",
                              "html": "${round}"
                            },
                            {
                              "tag": "td width=100px",
                              "html": "${winnerScore}"
                            },
                            {
                              "tag": "td width=100px",
                              "html": "${looserScore}"
                            }
                          ]
                     }
                  ]
                }
              ]
           };

           var str = json2html.transform(data[0], headerTemplate);
           document.write(str);
           var str2 = json2html.transform(data, rowTemplate);
           document.write(str2);
        });
    })();
</script>

</body>
