<head>
    <script type="text/javascript" src="jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="json2html.js"></script>
    <script type="text/javascript" src="jquery.json2html.js"></script>
</head>

<body>

<div id="pools"></div>

<script>
    (function() {
      var statsAPI = "https://arcane-lake-56548.herokuapp.com/pools";
      $.getJSON(statsAPI,{format: "json"}).done(function(data) {
           var headerTemplate = {
              "tag": "table",
              "class": "table table-striped table-hover",
              "children": [
                {
                  "tag": "thead",
                  "id": "json-head",
                  "children": [
                    {
                      "tag": "tr",
                      "children": [
                        {
                          "tag": "th width=20px",
                          "html": "ID"
                        },
                        {
                          "tag": "th width=100px",
                          "html": "User ID"
                        },
                        {
                          "tag": "th width=100px",
                          "html": "Source"
                        },
                        {
                          "tag": "th width=100px",
                          "html": "Name"
                        },
                        {
                          "tag": "th width=100px",
                          "html": "Event Type"
                        },
                        {
                          "tag": "th width=100px",
                          "html": "Number of sets"
                        },
                        {
                          "tag": "th width=100px",
                          "html": "Number of square per user"
                        },
                        {
                          "tag": "th width=100px",
                          "html": "Status"
                        },
                        {
                          "tag": "th width=100px",
                          "html": "UUID"
                        },
                        {
                           "tag": "th width=100px",
                           "html": "chaturl"
                        }
                      ]
                    }
                  ]
                }
              ]
           };
           var rowTemplate = {
              "tag": "table",
              "class": "table table-striped table-hover",
              "children": [
                {
                  "tag": "tbody",
                  "id": "json-body",
                  "children": [
                    {
                      "tag": "tr",
                      "children": [
                        {
                          "tag": "td width=20px",
                          "html": "${id}"
                        },
                        {
                          "tag": "td width=80px",
                          "html": "${userid}"
                        },
                        {
                          "tag": "td width=80px",
                          "html": "${source}"
                        },
                        {
                          "tag": "td width=80px",
                          "html": "${name}"
                        },
                        {
                          "tag": "td width=100px",
                          "html": "${eventtype}"
                        },
                        {
                          "tag": "td width=100px; align=center",
                          "html": "${numberofsets}"
                        },
                        {
                          "tag": "td width=100px; align=center",
                          "html": "${numberofsquareperuser}"
                        },
                        {
                          "tag": "td width=100px",
                          "html": "${status}"
                        },
                        {
                          "tag": "td width=100px",
                          "html": "${uuid}"
                        },
                        {
                           "tag": "td width=100px",
                           "html": "${chaturl}"
                        }
                      ]
                    }
                  ]
                }
              ]
            };

           var str = json2html.transform(data[0], headerTemplate);
           document.write(str);
           var str2 = json2html.transform(data, rowTemplate);
           document.write(str2);
        });
    })();
</script>

</body>
