<head>
    <script type="text/javascript" src="jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="json2html.js"></script>
    <script type="text/javascript" src="jquery.json2html.js"></script>
</head>

<body>

<div id="totals"></div>

<script>
    (function() {
      var statsAPI = "https://arcane-lake-56548.herokuapp.com/totals" + $(location).attr('search');
      $.getJSON(statsAPI,{format: "json"}).done(function(data) {
           var headerTemplate = {
              "tag": "table",
              "class": "table table-striped table-hover",
              "children": [
                {
                  "tag": "thead",
                  "id": "json-head",
                  "children": [
                    {
                      "tag": "tr",
                      "children": [
                        {
                          "tag": "th width=80px",
                          "html": "Member Name"
                        },
                        {
                          "tag": "th width=80px",
                          "html": "Total"
                        },
                        {
                          "tag": "th width=80px",
                          "html": "Round 5"
                        },
                        {
                          "tag": "th width=80px",
                          "html": "Round 6"
                        }
                     ]
                    }
                  ]
                }
              ]
           };

           var rowTemplate = {
              "tag": "table",
              "class": "table table-striped table-hover",
              "children": [
                 {
                  "tag": "tbody",
                  "id": "json-body",
                  "children": [
                    {
                      "tag": "tr",
                      "children": [
                        {
                          "tag": "td width=100px",
                          "html": "${membername}"
                        },
                        {
                          "tag": "td width=100px",
                          "html": "${total}"
                        },
                        {
                          "tag": "td width=100px",
                          "html": "${round5total}"
                        },
                        {
                          "tag": "td width=100px",
                          "html": "${round6total}"
                        }
                      ]
                    }
                  ]
                }
              ]
            };

           var str = json2html.transform(data[0], headerTemplate);
           document.write(str);
           var str2 = json2html.transform(data, rowTemplate);
           document.write(str2);
        });
    })();
</script>

</body>
